<!DOCTYPE html>
<html lang="fr">

	<head>

		<title>Twedis</title>
		<base href="/twitter/" />
		<meta charset="utf-8" />

		<!-- Stylesheets -->
		
		<link href="public/assets/css/vendor.css" rel="stylesheet" type="text/css" />
		<link href="public/assets/css/app.css" rel="stylesheet" type="text/css" />

	</head>

	<body ng-app="TwedisApp">

		<section id="container" class="container">
			
			<!-- Header -->

			<header id="header" ng-controller="authController" ng-show="authService.isLogged">
				
				<h1><a href="#/">Twedis</a></h1>
				<p>Home made Twitter with Redis !</p>
			
			</header>
			
			<!-- Message -->
			
			<header id="alert" ng-controller="alertController">
			
				<div class="alert alert-block" ng-class="alertService.alert.style" ng-show="alertService.alert">
						
					<i class="fa" ng-class="alertService.alert.icon"></i>
					
					{{ alertService.alert.message }}
					
					<a class="close" ng-click="alertService.clearAlert()">
						
						<i class="fa fa-times"></i>
						
					</a>
					
				</div>
			
			</header>
			
			<div class="row">
			
				<!-- Page content -->
			
				<ng-view></ng-view>
			
				<!-- Profil sidebar -->
				
				<div class="col-sm-3 col-sm-offset-1 sidebar" ng-controller="userController" ng-show="authService.isLogged">
				
					<div class="profil">
				
						<h3>{{ userService.currentUser.username }}</h3>
						<p><a href="#/user/{{ userService.currentUser.username }}">@{{ userService.currentUser.username }}</a> - <a ng-click="logout()">Se déconnecter</a></p>
						
						<div class="row">
						
							<div class="col-sm-4">
								
								<div class="stats">
								
									<h5>Tweets</h5>
									<a href="#/user/{{ userService.currentUser.username }}">{{ userService.currentUser.tweets }}</a>
								
								</div>
								
							</div>
							
							<div class="col-sm-4">
								
								<div class="stats">
								
									<h5>Following</h5>
									<a href="#/user/{{ userService.currentUser.username }}/following">{{ userService.currentUser.following.length }}</a>
								
								</div>
								
							</div>
							
							<div class="col-sm-4">
								
								<div class="stats">
								
									<h5>Followers</h5>
									<a href="#/user/{{ userService.currentUser.username }}/followers">{{ userService.currentUser.followers.length }}</a>
								
								</div>
								
							</div>
							
						</div>
				
					</div>
				
				</div>
			
			</div>
			
		</section>
	
		<!-- Javascript -->
		
		<script src="public/assets/js/vendor.js" type="text/javascript"></script>
		<script src="public/assets/js/app.js" type="text/javascript"></script>

	</body>

</html>