<div id="login">

	<form class="form-signin" ng-submit="login()">
	
		<h2 class="form-signin-heading">Connectez vous</h2>
	
		<input type="text" class="form-control" ng-model="username" placeholder="Nom d'utilisateur" required autofocus>
	
		<input type="password" class="form-control" ng-model="password" placeholder="Mot de passe" required>
	
		<a href="#/register" class="register"><i class="fa fa-user-plus"></i>&nbsp; S'enregistrer</a>
	
		<button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
	
	</form>

</div>