<div id="register">

	<form class="form-signin" ng-submit="register()">
	
		<h2 class="form-signin-heading">Inscription</h2>
	
		<input type="text" class="form-control" ng-model="username" placeholder="Nom d'utilisateur" required autofocus>
	
		<input type="password" class="form-control" ng-model="password" placeholder="Mot de passe" required>
	
		<input type="password" class="form-control" ng-model="confirm" placeholder="Confirmation du mot de passe" required>
	
		<button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
	
	</form>

</div>